.tab-bar-menu {
  background-color: transparent !important;
  margin: 0px 10px 5px 10px;
  display: flex;
  box-shadow: none;
  border-radius: 10px;
}
.white{
  background-color: transparent;
}
.Menu-Button {
  padding: 5px;
  background: #000;
  transition: 0.5s;
}

.Menu-Button:hover {
  /* background: #dfff41; */
  color: #dfff41;
}

.Menu-Button:hover .Menu-icon,
.Menu-Button:hover .Menu-lable {
  color: #dfff41;
}

.Menu-icon {
  color: #fff;
  transition: 0.5s;
  font-size: 32px;
}

.Menu-lable {
  color: #fff;
  font-size: 13px;
}
.light-menu {
  --ion-background-color: #f4f4f4;
  --ion-text-color: #000000;
}

.dark-menu {
  --ion-background-color: #222222;
  --ion-text-color: #ffffff;
}
.dark-menu .Menu-icon{
  color: #000;
}
.dark-menu .Menu-lable {
  color: #000;
}
.dark-menu .tab-bar-menu{
  background-color: #0e0c0c;
}
.dark-menu .Menu-Button{
  background: #fff;
}
.dark-menu .Menu-Button:hover .Menu-icon,
.Menu-Button:hover .Menu-lable {
  color: #000;

}
.dark-menu .Menu-Button:hover {
  background: #dfff41;
  color: #fff;
  
}
.content {
  padding: 20px;
  text-align: center;
}
