.login-main {
   height: 100vh;
   background: linear-gradient(
     106.37deg,
     #aeb3ca 29.63%,
     #7e31d6 51.55%,
     #a3e792 90.85%
   );
   background-color: #7e31d6;
   /* background-image: url("https://images.pexels.com/photos/712618/pexels-photo-712618.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
   background-repeat: no-repeat, repeat;
   background-size: 100%;
}
