.header-title {
    box-shadow: none;
}

.header {
    display: flex;
    flex-direction: row-reverse;
}

.theme.dark .logout-btn {
    /* Styles for dark mode */
    color: #fff;
  }
  

.theme.light .logout-btn{
    /* Styles for light mode */
    color: #000;
}