.form-container-StartDuty {
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}

.form-container-StartDuty .booking-accept-btn {
    margin: 10px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container-StartDuty .accept-btn {
    margin: 10px 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.form-container-StartDuty .field-item .bold-label {
    font-weight: 600;
}