.list-item {
  padding: 10px 0px;
}
.right-icon{
  position: absolute;
  right: 15px;
  font-size: 20px;
}
.profile-icon {
  margin-right: 30px;
  margin-left: 10px;
}

.logout-icon {
  margin-right: 30px;
  margin-left: 10px;
  color: rgb(252, 28, 28);
}

.List {
  text-transform: uppercase;
  display: flex;
  letter-spacing: 1px;
  align-items: center;
  color: #000;
  font-size: 15px;
}
/* Dark & Night Mode */
.light-settings {
  --ion-background-color: #f4f4f4;
  --ion-text-color: #000000;
}

.dark-settings {
  --ion-background-color: #222222;
  --ion-text-color: #ffffff;
}
.dark-settings .List  {
  color: #fff;
}
.dark-settings .list-item{
  border-bottom:1px Solid #fff ;
}

.content {
  padding: 20px;
  text-align: center;
}
