.list-item {
  padding: 10px 0px;

}

.profile-icon {
  margin-right: 30px;
  margin-left: 10px;
}

.logout-icon {
  margin-right: 30px;
  margin-left: 10px;
  color: rgb(252, 28, 28);
}

.List {
  text-transform: uppercase;
  display: flex;
  letter-spacing: 1px;
  align-items: center;
  color: #000;
  font-size: 15px;
}